.shadow-0 {
    box-shadow: 0 0 15px $first;
  }
  
.shadow-1 {
    box-shadow: 0 0 15px $second;
} 
  
.shadow-2 {
    box-shadow: 0 0 15px $third;
}
  
.shadow-3 {
    box-shadow: 0 0 15px $fourth;
}
  
.shadow-4 {
    box-shadow: 0 0 15px $fifth;
}
  
.shadow-5 {
    box-shadow: 0 0 15px $sixth; 
}
  
.shadow-6 {
    box-shadow: 0 0 15px $seventh; 
}